.number-container {
    position: relative;
    margin: 4px;
}

.number-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #28a745;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.remove-number-btn {
    position: absolute;
    top: -10px;
    right: -4px;
    width: 20px;
    height: 20px;
    line-height: 25px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-number-btn:hover {
    opacity: 0.8;
    background-color: #dc3545;
}

.lotto-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
}

#generateNumbers {
    padding: 10px 20px;
    font-size: 16px;
}
